
<h1>EDIT PROFILE</h1>
<form class="well container">
	<label>Username</label> <br/>
	<input class="form-control" placeholder="Username..." />
	<label>Your Name</label> <br/>
	<input class="form-control" placeholder="Your Name..." />
	<label>Partner's Name</label> <br/>
	<input class="form-control" placeholder="Partner's Name..."  />
	<label>Profile Image</label> <br/>
	<input class="form-control" placeholder="Profile Image url..." />
	<label>About</label> <br/>
	<input class="form-control" placeholder="About..." />
	<label>Relationship Type</label><br/>
	<select>
		<option value="Bi-Sexual">Bi-Sexual</option>
		<option value="Straight">Straight</option>
		<option value="Gay">Gay</option>
		<option value="Lesbian">Lesbian</option>
	</select><br/>
	<label>Email</label> <br/>
	<input type="email" class="form-control" placeholder="Email..."  />
	<label>Password</label> <br/>
	<input type="password" class="form-control" placeholder="Password..."  />
	<label>Confirm Password</label> <br/>
	<input type="password" class="form-control" placeholder="Confirm Password..."  />
	<div style="text-align: center;">
		<button type="submit">Submit</button>
	</div>
</form>