<div ng-show="nav.loggedInCouple">
	<div class="profileBox well container text-center">
		<img class="matchPhoto" ng-click="" ng-src="{{vm.randomProfile.profilePic}}" height='200px' width='300px'/>

		<!-- otherPics is an array -->
		<!--<img ng-src="{{vm.randomProfile.otherPics}}"/> have this be a carousel-->
		<br><br/>
		<h2>{{vm.randomProfile.name1}} & {{vm.randomProfile.name2}}</h2>
		<p>{{vm.randomProfile.about}}</p>
		<button ng-click="vm.likeProfile(vm.randomProfile._id)" class="btn btn-md btn-success"><span class="glyphicon glyphicon-fire"></span></button>
		<button ng-click="vm.getProfiles()" class="btn btn-md btn-danger "><span class="glyphicon glyphicon-remove"></span></button> 
	</div>
</div>


<div ng-hide="nav.loggedInCouple">
	<div class="loggedOutHomeView well text-center">
		<h1>Swinder</h1>
		<div>
			<a ui-sref="Home"><img src="http://i36.photobucket.com/albums/e25/kandianne/swinder_logo.png" alt="swinder_logo.png"/></a>
		</div>
		<p>A place to discover fun couples and fulfill your Swinging desires.</p>
		<a ui-sref="LoginCouple" class="btn btn-default btn-sm">LOGIN</a> 
		<a ui-sref="Register" class="btn btn-default btn-sm">REGISTER</a> 
	</div>
</div>

