<div class="well text-center">

	<p><img class="img img-circle" src="" height='90px' width='90px'></p>
	<h3>{{vm.coupleLoggedIn.name1}} and {{vm.coupleLoggedIn.name2}}</h3>
	<p>Username {{vm.coupleLoggedIn.username}}</p>
	<p>Email {{vm.coupleLoggedIn.email}}</p>
	<p>About {{vm.coupleLoggedIn.about}}</p>
	<p>Relationship Type {{vm.coupleLoggedIn.relationshipType}}</p>
	<h6>Social Media Links</h6>
	<table class="table table­condensed table­responsive">
		<tr>
			<td><a href="{{vm.coupleLoggedIn.socialLinks.facebook}}">Facebook</a></td>
			<td><a href="{{vm.coupleLoggedIn.socialLinks.instagram}}">Instagram</a></td>
			<td><a href="{{vm.coupleLoggedIn.socialLinks.twitter}}">Twitter</td>
		</tr>



	</table>
	<br/>
	<br/>
	<a ui-sref="Home" class="btn btn-sm">Go Back Home</a>
</div>
