<div class="well text-center" ng-repeat="c in vm.couple">
	
	<p><img class="img img-circle" src="" height='90px' width='90px'></p>
	<h3>Name1 and Name 2 {{c.name1}}</h3>
	<p>Username</p>
	<p>Email</p>
	<p>About</p>
	<p>Relationship Type</p>
	<p>Relationship Type</p>
	<h6>Social Media Links</h6>
	<table class="table table­condensed table­responsive">
		<tr>
			<td>Facebook Logo</td>
			<td>Instagram Logo</td>
			<td>Twitter Logo</td>
		</tr>

	</table>
	<br/>
	<br/>
	<a ui-sref="Home" class="btn btn-sm">Go Back Home</a>
</div>