
<div ng-controller="NavBarController as nav">
	<h1>CREATE NEW PROFILE</h1>
	<form class="well container" ng-submit="nav.register()">
		<label>Your Name</label> <br/>
		<input class="form-control" placeholder="Your Name..." ng-model="nav.couple.name1" />
		<label>Partner's Name</label> <br/>
		<input class="form-control" placeholder="Partner's Name..." ng-model="nav.couple.name2"  />
		<label>Username</label> <br/>
		<input class="form-control" placeholder="Username..." ng-model="nav.couple.username"  />
		<label>Profile Image</label> <br/>
		<input class="form-control" placeholder="Profile Image url..." ng-model="nav.couple.profilePic"  />
		<label>About</label> <br/>
		<input class="form-control" placeholder="About..." ng-model="nav.couple.about"/>
		<label>Relationship Type</label><br/>
		<select ng-model="nav.couple.relationshipType">
			<option value="Bi-Sexual">Bi-Sexual</option>
			<option value="Straight">Straight</option>
			<option value="Gay">Gay</option>
			<option value="Lesbian">Lesbian</option>
		</select><br/>
		<label>Facebook Link</label> <br/>
		<input class="form-control" placeholder="Facebook..." ng-model="nav.couple.socialLinks.facebook"  />
		<label>Instagram Link</label> <br/>
		<input class="form-control" placeholder="Instagram..." ng-model="nav.couple.socialLinks.twitter"    />
		<label>Twitter Link</label> <br/>
		<input class="form-control" placeholder="Twitter..." ng-model="nav.couple.socialLinks.instagram"   />
		<label>Email</label> <br/>
		<input type="email" class="form-control" placeholder="Email..." ng-model="nav.couple.email"   />
		<label>Password</label> <br/>
		<input type="password" class="form-control" placeholder="Password..." ng-model="nav.couple.passwordHash"   />
		<label>Confirm Password</label> <br/>
		<input type="password" class="form-control" placeholder="Confirm Password..." />
		<div style="text-align: center;">
			<button type="submit">Submit</button>
		</div>
	</form>
</div>