<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Swinder</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>

	<div ng-controller="NavBarController as nav">

		<a ui-sref="Home">Home</a>
		<a ui-sref="RegisterCouple">Register</a>
		<a ui-sref="Profile">Profile</a>
		<a ui-sref="CreateMessage">CreateMessage</a>
		<a ui-sref="LoginCouple">Login</a>

		<p>{{nav.status.username}}</p>
		<ui-view></ui-view>

	</div>


	<!-- Ext Libs -->
	<script src="angular/angular.min.js"></script>
	<script src="angular-ui-router/release/angular-ui-router.min.js"></script>
	<!-- Global Src -->
	<script src="/javascript/app.js"></script>
	<!-- Factories -->
	<script src="/javascript/services/MainFactory.js"></script>
	<script src="/javascript/services/CoupleFactory.js"></script>
	<script src="/javascript/services/MessageFactory.js"></script>
	<!-- Controllers -->
	<script src="/javascript/controllers/MainController.js"></script>
	<script src="/javascript/controllers/NavBarController.js"></script>
	<script src="/javascript/controllers/ProfileController.js"></script>
	<script src="/javascript/controllers/MessageController.js"></script>
</body>
</html>