.matchPhoto {
	height: 200px;
}

.profileBox {
	margin-top: 50px;
	
}

body {
	overflow-y:auto !important;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.navbar {
	background-color: black;
	color: white;
}