body {
	overflow-y:auto !important;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: black;
	padding-top: 6em;
}

.container{
	flex-wrap: nowrap | wrap | wrap-reverse;
}

.matchPhoto {
	height: 200px;
}

.profileBox {
	margin-top: 50px;
	
}

.navbar {
	background-color: black;
	color: white;
	border: none;
}

.loggedOutHomeView {
	background-color: red;
	width: 50%;
	margin: auto;
	color: black;
	border: none;
}